<!--
  Dit is de pagina voor mensen die nog geen account hebben.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Creëer een account
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Jouw email adres"
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Gelieve een juist e-mailadres in te vullen.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Wachtwoord</ion-label>
      <ion-input formControlName="password" type="password"  placeholder="Jouw wachtwoord"
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Wachtwoord moet meer dan 6 tekens bevatten.</p>
    </ion-item>

    <button ion-button block type="submit">
      Creëer een account
    </button>

  </form>

</ion-content>